@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



@layer base {
    
    h1, h2, h2, h3, h4, h5, h6 {
        @apply font-bold
    }

    h1 {
        @apply  sm:text-xl md:text-2xl
    }
    h2{
        @apply  sm:text-xl md:text-4xl
    }
    h3 {
        @apply  sm:text-xl md:text-3xl lg:text-4xl
    }
    li{
        @apply cursor-pointer
    }
    button{
        @apply drop-shadow-md  rounded cursor-pointer px-2 py-1 border border-black 
    }
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Oswald ;
    letter-spacing: 1px;
    background-color: black;
    overflow-x: hidden;
}


/* INTRO SIGN - RETRO */
.retro-sign {
        font-size: 4rem;
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: 'Oswald';
        font-weight: 700;
        text-shadow:    3px 3px 0px #d4a79f, 
                        5px 5px 0px #9999, 
                        7px 7px 0px #444e77, 
                        9px 9px 0px #017e7f
}
/* INTRO SIGN - RETRO  END */



/* SHOOTING STARS */
.stars {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;

}

/* .stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

} */
.star {
  position: absolute;
  top: 50%;
  width: 3px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 50%;
  box-shadow: 
    0 0 0 4px rgba(255, 255, 255, 0.1), 
    0 0 0 8px rgba(255, 255, 255, 0.1), 
    0 0 2px rgba(255, 255, 255, 1);
  animation: shooting-stars  linear infinite;
}

.star::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  height: 1px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.743), transparent);
}

@keyframes shooting-stars {
  0% {
    transform: rotate(315deg )translateX(0%);
  }
  70%{
    opacity: 1;
  }
  100% {
    transform: rotate(315deg )translateX(-700px);
    opacity: 0;
  }
}


@media (min-width: 320px) {
  .star:nth-child(1) {
    top: 5px;
    left: 10%;
    animation-delay:0.2s;
    animation-duration: 1.5s;
  }
  .star:nth-child(2) {
    top: 10%;
    left: 30%;
    animation-delay:-0.4s;
    animation-duration: 2s;
  }
  .star:nth-child(3) {
    top:0;
    right:initial;
    right: -30%;
    animation-delay:0.2s;
    animation-duration: 3.5s;
  }
  .star:nth-child(4) {
    left: 80%;
    animation-duration: 2.5s;
  }
  .star:nth-child(5) {
    top: 0;
    right: 40%;
    right:initial;
    animation-delay:-0.3s;
    animation-duration: 3.5s;
  }
}
@media (min-width: 768px) {
  .star:nth-child(1) {
    left: 55%;
    animation-duration: 1.5s;
  }
  .star:nth-child(2) {
    left: 80%;
    animation-duration: 2s;
  }
  .star:nth-child(3) {
    left: 40%;
    animation-duration: 3.5s;
  }
  .star:nth-child(4) {
    left: 60%;
    animation-duration: 2.5s;
  }
  .star:nth-child(5) {
    top:15%;
    right:initial;
    right:-20%;
    animation-duration: 3.5s;
  }
}
/* SHOOTING STARS END  */

